################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mango/FileContentIndex/2aaa6379-013a-499f-bbec-abe47349073a.vsidx
/.vs/Mango/FileContentIndex/c7375649-06bd-42b0-b798-759bf0c5f949.vsidx
